@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --alice-blue: #F1F6FD;
    --cadet-grey: #94A3B8;
    --cobalt: #2B3F7D;
    --crulean-blue: #3356C2;
    --dark-pastel-blue: #72A5E8;
    --dark-sky-blue: #5185E0;
    --iron: #CBD5E1;
    --lavender-mist: #DFEBFA;
    --mariner: #3C6AD4;
    --mirage: #0F172A;
    --pickled-bluewood: #334155;
    --river-bed: #475569;
    --tropical-blue: #C6DBF7;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
    scroll-behavior: smooth;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-alice-blue: var(--alice-blue);
  --color-cadet-grey: var(--cadet-grey);
  --color-cobalt: var(--cobalt);
  --color-crulean-blue: var(--crulean-blue);
  --color-dark-pastel-blue: var(--dark-pastel-blue);
  --color-dark-sky-blue: var(--dark-sky-blue);
  --color-iron: var(--iron);
  --color-lavender-mist: var(--lavender-mist);
  --color-mariner: var(--mariner);
  --color-mirage: var(--mirage);
  --color-pickled-bluewood: var(--pickled-bluewood);
  --color-river-bed: var(--river-bed);
  --color-tropical-blue: var(--tropical-blue);

  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);

  --animate-slide-to-right: slideToRight 1s ease-in-out 1;
  --animate-slide-to-left: slideToLeft 1s ease-in-out 1;
  --animate-slide-to-up: slideToUp 1s ease-in-out 1;

  --animate-fade-in: fadeInOpacity 1s ease-in-out 1;  
}

@utility container {
  padding-inline: 1.2rem;
  margin-inline: auto;

  @variant md {
    padding-inline: 2rem;
  }
}

/* ===== ANIMATION ===== */
.hero #segment-1 {
	animation: slideToRight 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}
.hero #segment-2 {
  animation: slideToRight 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}
.hero #segment-3 {
  animation: slideToUp 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}

.about #segment-1 {
  animation: fadeInOpacity 2s ease-out 0s 1;
  animation-fill-mode: forwards;
}
.about #segment-2 {
  animation: slideToLeft 0.5s ease-in 0s 1;
  animation-fill-mode: forwards;
}
.about #segment-2-1 {
  animation: fadeInOpacity 1s ease-in 1s 1;
  animation-fill-mode: forwards;
}
.about #segment-2-2 {
  animation: ping 1s ease-in 2s 3;
}
 
.property-type [id^="segment-"],
.our-team [id^="segment-"] {
  animation: fadeInOpacity 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}
.property-type #segment-2,
.our-team #segment-2 {
  animation-delay: 1s;
}
.property-type #segment-3,
.our-team #segment-3 {
  animation-delay: 2s;
}
.property-type #segment-4 {
  animation-delay: 3s;
}

.new-arrival #segment-1 {
  animation: fadeInOpacity 1s ease-in 1s 1;
  animation-fill-mode: forwards;
}
.new-arrival #segment-1-1 {
  animation: ping 1s ease-in 2s 3;
}
.new-arrival #segment-2 {
  animation: fadeInOpacity 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}

.our-service [id^="segment-"] {
  animation: fadeInOpacity 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}
.our-service #segment-2 {
  animation-delay: 1s;
}
.our-service #segment-3 {
  animation-delay: 2s;
}
.our-service #segment-4 {
  animation-delay: 3s;
}

.loading-screen {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 99;
}
.loading-screen [id^="segment-"] {
  opacity: 0;
  animation: fadeInOpacity 1s ease-in 0s 1;
  animation-fill-mode: forwards;
}
.loading-screen #segment-2 {
  animation-delay: 1s;
}
.loading-screen #segment-3 {
  animation-delay: 2s;
}
.loading-screen #segment-4 {
  animation-delay: 3s;
}
.loading-screen #segment-5 {
  animation-delay: 4s;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slideToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideToUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}